

  .Secondrow {
    width: 700px;
    border-right: 1px solid #e6ecf1;
    border-left: 1px solid #e6ecf1;
  }
  .Thirdrow {
    width: 350px;
  }
  .chat {
    padding: 12px;
    font-size: 20px;
  }
  .txtbox {
    width:100%;
    padding: 12px;
    border-radius: 5px;
    border-color: var(--background);
    background-color: var(--background);
  }
  .searchbox{
    position: relative;
  }
  .searchbox p {
    position: absolute;
    top: 25%;
    right: 5%;
  }
  .onlineusercontainer{
    margin-top:15px;
  }
  .im1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
  }
    .listname {
    display: flex;
    flex-direction: row;
  }
  .imn1 {
    margin: 10px;
    margin-left: 20px;
    color: #8996a9;
  }

  .recentname {
    margin: 16px;
    font-size: 18px;
  }
  
  .rl {
    height: 70px;
    border-radius: 5px;
    background-color: var(--background);
    margin: 10px;
    transition: transform 0.2s;
    display: flex;
    position:relative;
  }
  .rl:hover {
    position: relative;
    color: var(--background);
    background-color: var(--text);
    transform: scale(1.05);
    z-index: 5;
  }
 
  .recentlist {
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .recentlist::-webkit-scrollbar {
    width: 5px;
  }
  
     /* Track */
  .recentlist::-webkit-scrollbar-track {
    background: var(--dashboard); 
  }
   
  /* Handle */
  .recentlist::-webkit-scrollbar-thumb {
    background: var(--text); 
  }
  
  /* Handle on hover */
  .recentlist::-webkit-scrollbar-thumb:hover {
    background: var(--background); 
  } 
  .onlineUsers::-webkit-scrollbar {
    display: none;
  }
  .onlineUsers{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .recentlist {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .p {
    font-size: 15px;
  }
  .about{
    color: #6A727E;
    font-size: 15px;
  }
  .time {
    position:absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
  }
  .onlineUsers{
    display: flex ;
    overflow-x: scroll; 
}
.onlineusercontainer{
    text-align: center;
}
@media (orientation: portrait) {
  .recentlist {
    height: 50vh;
  }
}
