* {
  margin: 0;
  padding: 0;
}
.wholepage {
  background-color: #f1f6fb;
}

@media (orientation: landscape) {
  .wholepage {
    height: 100vh;
  }
}

@media (orientation: portrait) {
  .wholepage {
    height: 100vh;
  }
}

.tablistStyle{
display: flex;
padding: 0;
margin: 0;
justify-content: space-between;
}
.tablistStyle li{
  list-style: none;
  width: 33%;
  background-color: #00c894;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.react-tabs__tab--selected{
  background-color: #2e7260 !important;
}