* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.3;
  font-family: sans-serif;
}
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}
.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}
a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00c894;
}

header {
  height: 83px;
  width: 100%;
}

nav {
  height: 83px;
  width: 100%;
  padding: 20px 0;
}

.navigation-bar ul {
  padding: 0;
  margin: 0;
}

.navigation-bar ul li {
  display: inline-block;
  margin: 0 25px;

}

.navigation-bar ul li:last-child {
  margin-right: 0px;
}

.navigation-bar ul li a {
  font-size: 14px;
  color: #00c894;
  font-weight:bold;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.navigation-bar ul li a:hover {
  color: #24e9f7;
}

.navigation-bar ul li a.btn {
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  background-color: #d9fce7;
  font-weight: normal;
  font-weight: 600;
  color: #00c894;
}

.navigation-bar ul li a.btn:hover {
  background-color: #00c894;
  color: #fff;
}

.burger {
  width: 25px;
  cursor: pointer;
  display: none;
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 3px;
  background-color: #222;
}
.contant1 {
  display: flex;
  flex-direction: row;
}
.col-left {
  width: 500px;
  margin-top: 100px;
  font-size: 30px;
}
.col-left p {
  color: #000;
  font-size: 20px;
  margin-top: 10px;
}
.home-image {
  margin-left: 140px;
  margin-top: 20px;
  height: 400px;
  width: 500px;
}
@media (min-width: 991px) {
  .navigation-bar {
    display: block !important;
  }
}

@media (max-width: 991px) {
  .burger {
    display: block;
    position: absolute;
    right: 10px;
  }
  .navigation-bar {
    display: none;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    background-color: #d9fce7;
    padding: 20px;
    text-align: center;
    z-index: 2;
  }
  .navigation-bar ul li {
    display: block;
    margin: 15px 0;
  }
  .navigation-bar ul li a.btn {
    background-color: #00c894;
    color: #fff;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
  .home-wrapper {
    flex-direction: column-reverse;
    min-height: auto;
  }
  .col-left h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .home .home-image {
    width: 100%;
  }
  .home .home-image img {
    width: 70%;
  }
}
