
.secondpanel {
    border: 1px solid #e7e7e7;
    border-top: none;
    border-bottom: none;
  }
  .titlechat {
    height: 70px;
    border-radius: 5px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon {
    margin-right: 15px;
    font-size: 22px;
  }
  
  .bottomtext {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--background);
    display: flex;
    align-items: center;
  }
  .bottomtxt1 {
    height: 45px;
    color: #585858;
    border: none;
    width: 80%;
  }
  .Add {
    font-size: 24px;
    margin-right: 10px;
  }
  .sendWrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(55, 55, 148, 0.411);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .send {
    font-size: 20px;
  }
  .emoji {
    margin: 0 15px;
    font-size: 20px;
  }
  .imHeader {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
  }
  .imageInChat{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .mr{
    padding-right:10px ;
  }
  .ml{
    margin-left: 10px;
  }
  .chatTime{
    font-size: 10px;
    opacity: 0.5;
  }
  .chatContainer{
    overflow-y: scroll;
    height: 80vh;
  }
  .chatContainer::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .chatContainer::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .chatContainer::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .chatContainer::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  @media (orientation: portrait) {
    .chatContainer {
      height: 70vh;
    }
  }
  